@model DatiForm;
@{
    ViewData["Title"] = "Penota";
}
<h1>@ViewData["Title"]</h1>

<p>Riassunto della prenotazione:<br> Nome:@Model.Nome<br> Cognome:@Model.Cognome<br>Email:@Model.Email<br> Data:@Model.DataDiNascita<br>Sesso:@Model.Sesso<br>Ruolo:@Model.Ruolo</p>
<table>

</table>
